form{
    text-align: center;
    background-color: white;
    margin-top:25px;
    margin-bottom:25px;
   
}

#meuform{

    background-color: white;
    margin-top:25px;
    margin-bottom:25px;
    border-radius: 10px;
}

button{

    background-color: black;
}