<div class="row " gx-5 justify-content-center>

    <div class="col-lg-4 col-md-12"></div>

    <div class="col-lg-4 col-md-12" id="meuform">
<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"><b>Sign In</b></label>
      <p>Insert your account Information</p>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="Username or e-mail">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" value="Password" >
    </div>
    <button type="submit" class="btn btn-primary">Login your account</button>
  </form>
  </div>

  <div class="col-lg-4 col-md-12"></div>